body {
background-color:  #f4f5f7;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
.container {
max-width: 750px;
margin: 0 auto 0 auto;
}

.headline{
font-size: 70px;
font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
font-style: normal;
font-variant: normal;
font-weight: 500;
line-height: 85px
}

.sub{
font-size: 20px;
font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
font-style: normal;
font-variant: normal;
line-height: 32px;
color: 	#696969;
background-color:  #f4f5f7
}

.body{
font-size: 20px;
font-family: Georgia;
line-height: 32px
}

img{
max-width: 100%;
}

.video{
display: block;
margin: 0 auto 0 auto;
}

.photocredit{
font-size: 14px;
font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
font-style: normal;
font-variant: normal;
line-height: 32px;
color: 	#696969;
background-color:  #f4f5f7
}

.author{
font-size: 16px;
font-family: Georgia;
font-style: italic;
line-height: 32px;
}